.root {
  text-align: center;
  background-color: black;
  padding: 10px 0;
  height: 100%;
  border-top: #282c34 2px solid;
  bottom: 0;
}

.textBlock {
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  text-decoration: none;
}
.text{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}