.root {
  background-color: black;
  padding: 10px 0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: black;
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  padding: 0 10px;
  text-decoration: none;
  border-bottom: 1px solid green;
  margin-left: 10px;
  &:hover{
    transition: 0.3s;
    transform: scale(1.1);
  }
}

.sign_buttons{
  display: inline-flex;
}

.buttons {
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}

.checkbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  .text{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 2px;
  }
}