
.root {
  display: grid;
  border: 1px solid #282c34;
  margin: 50px auto;
  width: 500px;
  padding: 45px;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}